*{
  margin: 0;
  padding: 0;
 
}
#navbar{
  height: 60px;
  background-color: #0f1111;
}
#logo{
  font-size: 25px;
  color: #f08804;
}
button{
  background-color: #f08804;
  color: white;
}
a{
  margin-right: 180px;
  text-decoration: none;
  color: white;
}
.contentBox{
  height: 100px;
  width: 100px;
  border: 2px solid black;
  display: inline-block;
}
footer{
  background-color: #0f1111;
  color: white;
  text-align: center;
}
#content{
  height: 560px;
}
