div{
  height: 100px;
  width: 100px;
  background-color: aqua;
  border: 2px solid black;
  display: inline-block;
  margin: 50px;
}
/* #box1{
  position: static;
  top:20px;
}

#box2{
  position: relative;
  top: 20px;
  left: 10px;
  z-index: 1;
 
}

#box3{
  position: absolute;
  top: 500px;
  left: 20px;
 
}
#box4{
  position: fixed;
  top: 50px;
  z-index: 3;
} */
body{
  background-image: url("kamil-klyta.jpg");
  background-size: cover;
}

#box1{
  background-image: url("kamil-klyta.jpg");
  background-size: cover;
  
}
#box2{
  background-image: url("kamil-klyta.jpg");
  background-size: contain;
  
}
#box3{
  background-image: url("kamil-klyta.jpg");
  background-size: auto;
  
}